<div class="zoom-view details-view">
  <div class="inactive-blocker"></div>

    <div class="row-fluid">
      <div class="span6">

      	<h2><%= project.name %></h2>
        <p>
          <%
            track = {
              "3W" : "Basic Track - 3 Week Project",
              "6W" : "Basic Track - 6 Week Project",
              "12W" : "Advanced Track - 12 Week Project"
            }
          %>
          <%= track[project.length] %>
        </p>
      	<p><%= project.year %>
        <%
          term = {
            ST: "Sommer Term",
            WT: "Winter Term"
          }
        %>
        <%= term[project.season] %>
      </p>

      <blockquote>Bei vielen Projekten verliert man leicht den Überblick. Unsere Software ermöglicht der HPI School of Design Thinking ihre Projekte und deren Kontext zu dokumentieren.</blockquote>

      <p>&nbsp;</p>

      <p>
        <strong>Tags:</strong>
        <ul>
        <% project.tags.forEach( function(tag){ %>
          <li><%= tag.name %></li>
       <% }) %>
        </ul>
      </p>

      <p>
        <strong>Participants:</strong>
        <ul>
        <% _.sortBy(project.participants.filter(function(a) { return a.user; }), function(a) { return a.user.lastName; }).forEach( function(participant){ %>
          <% if (participant.user) { %>
            <li><%= participant.user.firstName %> <%= participant.user.lastName %> (<%= participant.duty %>)</li>
          <% } %>
       <% }) %>
          <li>Prof. Dr. Holger Giese (teacher)</li>
          <li>Gregor Berg (teacher)</li>
          <li>Thomas Beyhl (teacher)</li>
        </ul>
      </p>
    </div>

    <div class="span6">
      <div class="row-fluid">
        <div class="span4">
          <img src="assets/images/press/tomb.jpg">
          <p>Tom Bocklisch</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/dominic.jpg">
          <p>Dominic Bräunlein</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/anita.jpg">
          <p>Anita Dieckhoff</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <img src="assets/images/press/tomh.jpg">
          <p>Tom Herold</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/norman.jpg">
          <p>Norman Rzepka</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/thomas.jpg">
          <p>Thomas Werkmeister</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <img src="assets/images/press/giese.jpg">
          <p>Prof. Dr. Holger Giese</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/gregor.jpg">
          <p>Gregor Berg</p>
        </div>
        <div class="span4">
          <img src="assets/images/press/thomasb.jpg">
          <p>Thomas Beyhl</p>
        </div>
      </div>
    </div>
</div>