logs
project/project
project/target
target
tmp
*.DS_Store
.history
dist
.cache
.classpath
.project
.settings
.target/
.history
target/
*.db
*.class
*.keep
*.pyc
*.obj
*.zip
*.skp
*.mtl

project-zoom/modules/main/public/templates/zoom_slider.html
