@()(implicit session: models.SessionData)

<!DOCTYPE html>

@main{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

<div class="container-fluid">
  <div class="row-fluid">

    <div id="tagbar" class="span2">

        <h4>Branch Tags:</h4>
        <form class="checkbox-group" id="branchtags">
        </form>

        <h4>Project Partner Tags:</h4>
        <form class="checkbox-group" id="partnertags">
        </form>

        <h4>Date Tags:</h4>
        <form class="checkbox-group" id="datetags">
        </form>

    </div>

    <div id="mainBody" class="span10">

      <div class="row-fluid">
        <div id="toolBar" class="span12">
          <div class="btn-group">
            <button class="btn active"><a href="#"><i class="icon-move"></i>Drag</a></button>
            <button class="btn"><a href="#"><i class="icon-arrow-left"></i>Connect</a></button>
            <button class="btn"><a href="#"><i class="icon-trash"></i>Delete</a></button>
            <button class="btn"><a href="#"><i class="icon-pencil"></i>Draw New Group</a></button>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div id="graph" class="span11"></div>

        <div class="zoomSlider span1">
          <button class="btn plus"><i class="icon-plus"></i></button>
          <input type="range" min="0.5" max="3" step=".1" value="1">
          <button class="btn minus"><i class="icon-minus"></i></button>
        </div>
      </div>

    </div>

  </div>
</div>

}