@()

@main{

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <div id="tagbar">
          <form class="checkbox-group" id="chklist">

            <h5>Please choose the tags of the project:</h5>

          </form>
        </div>

        <div id="mainBody">
            <div id="toolBarSimple">
                <div class="navbar">
                  <div class="navbar-inner">
                    <a class="brand" href="#">Projects Overview</a>
                    <ul class="nav">
                      <li><a href="#"><i class="icon-arrow-left"></i>Connect Nodes</a></li>
                    </ul>
                  </div>
                </div>
            </div>

            <div id="graph"></div>
        </div>
        <div id="clearfix"></div>

}