@import "graph.less";
@import "artifact_component.less";
@import "projects_overview_view.less";
@import "process_view.less";


.version {
  padding: 10px 20px 10px 0;
  display: block;
  float: left;
}