@import "graph.less";
@import "projects_overview_view.less";
@import "process_view.less";

body {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

} 

.version {
  padding: 10px 20px 10px 0;
  display: block;
  float: left;
}
