html {
  height: 100%;
} 

body {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  height: 100%;
  overflow: hidden;

} 

.version {
  padding: 10px 20px 10px 0;
  display: block;
  float: left;
}


#toasts {
	position: absolute;
	top: 0;
	width: 100%;

	.toast {
		width: 200px;
		padding: 10px;
		color: #fff;
		text-align: center;
		margin: 0 auto;
	}
}

header.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.zoom-slider {

  position: absolute;
  right: 0;
  top: 10px;
  z-index: 20;

  width: 45px;
  overflow: hidden;

  button {
    display: block;
  }

  input {

    margin: 5px 0 5px 20px;
    width: 100px;
    margin-top: 105px;

    //-webkit-appearance: slider-vertical;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
  }
}

.content {
  position: absolute;
  top: 41px;
  left: 0;
  bottom: 0;
  right: 0;
}

.zoom-view {

  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -moz-transition: -moz-transform .2s ease;
  transition: transform .2s ease;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .inactive-blocker {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }

  &.inactive .inactive-blocker {
    display: block;
  }
}

.overview-view {
  z-index: 3;
}

@import "graph.less";
@import "process_view.less";
@import "details_view.less";
