body {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

svg {

  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 5px;

  width: 100%;
}

.side-bar {

  border: 2px solid black;
  border-radius: 4px;

  margin-left: 1% !important;
  padding: 5px;

  textarea {

    width: 90%;
    height: 100px;
  }
}

#artifact-finder {

  background-color: #fafafa;
}

.toolbar {

  margin-bottom: 20px;
}


.graph {

  position: relative;
}

.zoom-slider {

  position: absolute;
  right: -70px; // hacky
  top: 10px;

  button {
    display: block;
  }

  input {

    margin: 5px 0 5px 20px;
    width: 100px;
    margin-top: 105px;

    //-webkit-appearance: slider-vertical;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
  }
}

.container-fluid {

  padding: 0px;
}

.cluster-tool {

  //overwrite bootstrap to fix design
  a {
    margin-left: -1px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

a.toggles {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    background-color:black;
    color:white;
    padding:10px 20px;
}
