#artifact-finder {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;

  .artifact-container {
    height: 100%;
  }

  .artifact-slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20px;
  }

  .tab-content {
    position: absolute;
    overflow: auto;
    top: 37px;
    bottom: 20px;
    border: 1px solid #ddd;
    border-top: none;
    left: 0;
    right: 0;
    padding: 20px 10px;
  }

  .artifact {
    margin: 5px;
  }

}

.graph {

  position: relative;

}


.container-fluid {

  padding: 10px;
}


#comment-modal {

  .modal-body {

    min-height: 200px;
    position: relative;
  }

  textarea {

    position: absolute;

    width:  94%;
    height: 91%;
    box-sizing: border-box;

    resize: none;
  }
}

a.toggles {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    background-color:black;
    color:white;
    padding:10px 20px;
}

#tool-bar {

  position: absolute;
  pointer-events: none;

  a {
    width: 17px;
    height: 27px;
    pointer-events: all;
    text-align: center;

    display: block;
    margin: 2px 0;
   }

   .float-container {

    width: 50px;
    float: right;
   }

  &.cluster {
    #connect {
      display: none;
    }
    #download {
      display: none;
    }
  }

}
