#phases-image {
  text-align: center;
}

#editor {
  height: 600px;
}

#save-button {
  position: fixed;
  z-index: 10000;
  top: 20px;
  right: 20px;
}

#back-button {
  position: fixed;
  z-index: 10000;
  top: 20px;
  left: 20px;
}

#feedback-button {
  position: fixed;
  z-index: 10000;
  top: 20px;
  left: 120px;
}

#feedback-modal {
  z-index: 10000;
}

@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes rotation {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.rotating {
    -webkit-animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

/* ------------------------------------------------------------- */


